---
import Button from './Button.astro';
import Code from '../icons/Code.astro';
import Play from '../icons/Play.astro';

interface Props {
  title: string
  description: string
  image: string
  liveUrl?: string
  codeUrl?: string
  technologies: Array<{
    icon: any
    name: string
  }>
}

const { 
  title, 
  description, 
  image, 
  liveUrl, 
  codeUrl,
  technologies 
} = Astro.props;
---

<article class="grid grid-cols-1 md:grid-cols-[1fr,1fr] gap-8 md:gap-16">
  <div class="flex flex-col">
    <img 
      src={image} 
      alt={`Captura de pantalla del proyecto ${title}`}
      class="rounded-2xl aspect-video object-cover w-full"
    />
  </div>

  <div class="flex flex-col items-start">
    <h3 class="text-2xl font-semibold">{title}</h3>
    
    <p class="text-base text-black/70 dark:text-white/70 mt-4">
      {description}
    </p>

    <div class="flex gap-x-4 mt-8">
      {liveUrl && (
        <Button href={liveUrl}>
          Demo
          <Play class="size-5" />
        </Button>
      )}
      
      {codeUrl && (
        <Button href={codeUrl} variant="outline">
          Código
          <Code class="size-5" />
        </Button>
      )}
    </div>

    <footer class="flex gap-x-4 mt-8">
      {technologies.map(tech => (
        <tech.icon 
          class="size-8 text-black/70 hover:text-black dark:text-white/70 dark:hover:text-white transition-colors" 
          title={tech.name}
        />
      ))}
    </footer>
  </div>
</article> 